<ion-header>
  <ion-toolbar>
    <ion-title>Nuestras Playas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">
    <h1>Visita nuestras playas y disfruta del mar.</h1>

    <img id="img02" alt="Silhouette of mountains" src="https://images.pexels.com/photos/14441171/pexels-photo-14441171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed tellus nec mauris auctor dignissim fermentum in risus. Sed nec convallis sapien, id tincidunt enim. Mauris ornare eleifend nunc id mattis. Fusce augue diam, sagittis nec posuere at, consectetur tempor lectus. Nulla at lectus eget mauris iaculis malesuada mollis sed neque. Curabitur et risus tristique, malesuada mauris finibus, elementum massa. Proin lacinia mauris quis ligula blandit ullamcorper. Donec ut posuere lorem. In volutpat magna vitae tellus posuere pulvinar. Nam varius ligula justo, nec placerat lacus pharetra ac. Aenean massa orci, tristique in nisl ut, aliquet consectetur libero. Etiam luctus placerat vulputate. Aliquam ipsum massa, porttitor at mollis ut, pretium sit amet mi. In neque mauris, placerat et neque vel, tempor interdum dolor. Suspendisse gravida malesuada tellus, vel dapibus nisl dignissim vel. Cras ut nulla sit amet erat malesuada euismod vel a nulla.</p>

    <div>
      <a [routerLink]="['/']" routerLinkActive="router-link-active">Regresar al inicio</a>
    </div>
  </ion-content>
</ion-content>
