<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-icon name="home-outline"></ion-icon>
        <a id="navh" [routerLink]="['/home']" routerLinkActive="router-link-active">Bienvenido</a>
      </ion-item>
      <ion-item>
        <ion-icon name="person-add-outline"></ion-icon>
        <a id="navh" [routerLink]="['/registro']" routerLinkActive="router-link-active">Registrate</a>
      </ion-item>
      <ion-item>
        <ion-icon name="bookmarks-outline"></ion-icon>
        <a id="navh" [routerLink]="['/reserva']" routerLinkActive="router-link-active">Reservar</a>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <a id="navh" [routerLink]="['/contactos']" routerLinkActive="router-link-active">Contactanos</a>
      </ion-item>
      <ion-item>
        <ion-icon name="construct-outline"></ion-icon>
        <a id="navh" [routerLink]="['/registros']" routerLinkActive="router-link-active">Administración</a>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.
  </ion-content>
</div>

<ion-app>
  <div class="reserv">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro de usuarios</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <div class="form1">
    <ion-list id="item1">
      <ion-item>
        <ion-select interface="action-sheet" placeholder="Selecciona tu destino">
          <ion-select-option value="apples">Avistamiento de ballenas</ion-select-option>
          <ion-select-option value="oranges">Viajar a las Playas</ion-select-option>
          <ion-select-option value="bananas">Visitar Reservas naturales</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item id="item1">
      <ion-label>Dia y hora de llegada</ion-label>
    </ion-item>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal id="item1" [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item id="item1">
        <ion-label>Dia y hora de Regreso</ion-label>
      </ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal id="item1" [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
        <ion-item id="item1">
                <ion-input placeholder="Número de personas:"></ion-input>
        </ion-item>
        <ion-button expand="block">Reservar</ion-button>
  </div>

</ion-app>





